.question
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: medium none;
    COLOR: #191970;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, 'Trebuchet MS', Arial
}
.answer
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, 'Trebuchet MS', Arial
}

.error{
	color: red;
	padding: 20px 0;
	text-align: left;
}

.span12{
	background: white;
	color: white;
	padding: 20px 0;
	text-align: left;
	
}

.span6{
	background: blue;
	color: white;
	padding: 20px 0;
	text-align: center;
	margin-top: 15px;
	
}

.span123{
	font: 120% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	margin: 25px; 
	padding: 0px;
	margin-top: 0px;
	width:500px	
}

.span4{
	background: white;
	color: black;
	padding: 20px 0;
	text-align: left;
	margin-top: 15px;
	width: 900px;
	
}

.span5, .span7{
	background: yellow;
	color: black;
	padding: 20px 0;
	text-align: center;
	margin-top: 15px;
	
}

.span6 .span6{
	background: black;
	color: white;
	padding: 20px 0;
	text-align: center;
	margin-top: 15px;
	
}
